# ignore config file
*.yml
!example.yml

# ignore compiled python files
*.pyc

# ignore log file
*.log

# ignore all text files except requirements
*.txt
!requirements.txt

# ignore json files
*.json

*.old
